[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covidmx"]
	path = covidmx
	url = https://github.com/rodrigozepeda/covidmx
[submodule "deltapif"]
	path = deltapif
	url = https://github.com/rodrigozepeda/deltapif
